build
.vscode/
.vs/
log/
CMakefiles/
gui/build/
documents/release.md
tests/change_shark/whole_brav_bulk.txt
tests/change_shark/whole_insta_bulk.txt
tests/change_shark/whole_brio_iso.txt
tests/change_shark/whole_logi_iso.txt
CmakeSettings.json
tests/build/
imgui.ini
log.txt
debug_.ps1
debug_p.ps1
uvcfd_.ps1
uvcfd_p.ps1
images/*
!images/smpte.jpg
# !.gitkeep
